
<div style="width:{{timeStripeContainerSize }}; height:800px;">
{{#each model as |station|}}
<div class="grid-x">
{{#each station.slot as |slot index|}}
<div class="row horizontal">
		{{#slot-horizontal slot index station.slot.length}}{{/slot-horizontal}}
</div>
{{/each}}
</div>
{{/each}}

</div>
{{outlet}}

